########################
# MTProto
########################

SECRET=eeYOUR_SECRET
TAG=
TLS_DOMAIN=www.cloudflare.com

########################
# XRAY
########################

XRAY_UUID=UUID_HERE
XRAY_PRIVATE_KEY=PRIVATE_KEY_HERE
XRAY_SHORT_ID=6ba85179e30d4fc2
XRAY_SERVER_NAME=www.cloudflare.com