{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "XRAY_UUID_PLACEHOLDER",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "XRAY_SERVER_NAME_PLACEHOLDER:443",
          "xver": 0,
          "serverNames": [
            "XRAY_SERVER_NAME_PLACEHOLDER"
          ],
          "privateKey": "XRAY_PRIVATE_KEY_PLACEHOLDER",
          "shortIds": [
            "XRAY_SHORT_ID_PLACEHOLDER"
          ]
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom"
    }
  ]
}